In [2]:
# import libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

## Player rating NBA2k22

In [56]:
nba2k22_ratings = pd.read_csv('nba2k22_ratings.csv', sep=';')

In [69]:
nba2k22_ratings.sort_values('PLAYER', inplace=True)

In [88]:
nba2k22_ratings['PLAYER'] = nba2k22_ratings['PLAYER'].str.rstrip()

In [90]:
nba2k22_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 464 entries, 123 to 18
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   PLAYER    464 non-null    object
 1   rankings  464 non-null    int64
dtypes: int64(1), object(1)
memory usage: 30.9+ KB

## Player stats for season 2020/21

In [72]:
stats2021 = pd.read_csv('nba_stats_2021.csv', sep=';')

In [73]:
stats2021

,PLAYER,TEAM,AGE,GP,W,L,MIN,PTS,FGM,FGA,...,REB,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-
0,Aaron Gordon,DEN,25,50,29,21,27.7,12.4,4.6,10.0,...,5.7,3.2,1.9,0.7,0.7,1.8,26.1,3,1,1.2
1,Aaron Holiday,IND,24,66,30,36,17.8,7.2,2.6,6.6,...,1.3,1.9,1.0,0.7,0.2,1.4,13.3,1,0,0.0
2,Aaron Nesmith,BOS,21,46,22,24,14.5,4.7,1.7,3.9,...,2.8,0.5,0.5,0.3,0.2,1.9,9.9,0,0,-0.2
3,Abdel Nader,PHX,27,24,16,8,14.8,6.7,2.4,4.8,...,2.6,0.8,0.8,0.4,0.4,1.4,12.5,0,0,1.2
4,Adam Mokoka,CHI,22,14,3,11,4.0,1.1,0.5,1.4,...,0.4,0.4,0.4,0.1,0.1,0.4,2.3,0,0,-0.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,Yogi Ferrell,LAC,28,10,4,6,13.7,5.6,2.0,5.7,...,1.9,2.2,0.3,0.7,0.3,1.1,13.9,0,0,-0.1
536,Yuta Watanabe,TOR,26,50,24,26,14.5,4.4,1.6,3.6,...,3.2,0.8,0.4,0.5,0.4,1.1,11.7,0,0,-0.8
537,Zach LaVine,CHI,26,58,26,32,35.1,27.4,9.8,19.4,...,5.0,4.9,3.5,0.8,0.5,2.4,41.0,3,0,-0.2
538,Zeke Nnaji,DEN,20,42,30,12,9.5,3.2,1.2,2.5,...,1.5,0.2,0.2,0.2,0.1,0.7,6.1,0,0,-2.0
539,Zion Williamson,NOP,20,61,29,32,33.2,27.0,10.4,17.0,...,7.2,3.7,2.7,0.9,0.6,2.2,43.2,14,0,1.5

In [74]:
stats2021.shape

(540, 29)

In [75]:
stats2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PLAYER  540 non-null    object
 1   TEAM    540 non-null    object
 2   AGE     540 non-null    int64
 3   GP      540 non-null    int64
 4   W       540 non-null    int64
 5   L       540 non-null    int64
 6   MIN     540 non-null    float64
 7   PTS     540 non-null    float64
 8   FGM     540 non-null    float64
 9   FGA     540 non-null    float64
 10  FG%     540 non-null    float64
 11  3PM     540 non-null    float64
 12  3PA     540 non-null    float64
 13  3P%     540 non-null    float64
 14  FTM     540 non-null    float64
 15  FTA     540 non-null    float64
 16  FT%     540 non-null    float64
 17  OREB    540 non-null    float64
 18  DREB    540 non-null    float64
 19  REB     540 non-null    float64
 20  AST     540 non-null    float64
 21  TOV     540 non-null    float64
 22  STL     540 non-null    float64
 23  BLK     540 non-null    float64
 24  PF      540 non-null    float64
 25  FP      540 non-null    float64
 26  DD2     540 non-null    int64
 27  TD3     540 non-null    int64
 28  +/-     540 non-null    float64
dtypes: float64(21), int64(6), object(2)
memory usage: 122.5+ KB

## Merge dataframes and change datatypes

In [91]:
nba_ratings_2022 = stats2021.merge(nba2k22_ratings, how='inner', on='PLAYER')

In [93]:
nba_ratings_2022

,PLAYER,TEAM,AGE,GP,W,L,MIN,PTS,FGM,FGA,...,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,rankings
0,Aaron Gordon,DEN,25,50,29,21,27.7,12.4,4.6,10.0,...,3.2,1.9,0.7,0.7,1.8,26.1,3,1,1.2,78
1,Aaron Holiday,IND,24,66,30,36,17.8,7.2,2.6,6.6,...,1.9,1.0,0.7,0.2,1.4,13.3,1,0,0.0,73
2,Aaron Nesmith,BOS,21,46,22,24,14.5,4.7,1.7,3.9,...,0.5,0.5,0.3,0.2,1.9,9.9,0,0,-0.2,72
3,Abdel Nader,PHX,27,24,16,8,14.8,6.7,2.4,4.8,...,0.8,0.8,0.4,0.4,1.4,12.5,0,0,1.2,75
4,Al Horford,OKC,35,28,11,17,27.9,14.2,5.8,12.9,...,3.4,1.0,0.9,0.9,1.7,31.7,1,0,-3.6,79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,Xavier Tillman,MEM,22,59,31,28,18.4,6.6,2.8,5.1,...,1.3,0.8,0.7,0.6,2.0,16.9,2,0,0.6,76
368,Yuta Watanabe,TOR,26,50,24,26,14.5,4.4,1.6,3.6,...,0.8,0.4,0.5,0.4,1.1,11.7,0,0,-0.8,74
369,Zach LaVine,CHI,26,58,26,32,35.1,27.4,9.8,19.4,...,4.9,3.5,0.8,0.5,2.4,41.0,3,0,-0.2,87
370,Zeke Nnaji,DEN,20,42,30,12,9.5,3.2,1.2,2.5,...,0.2,0.2,0.2,0.1,0.7,6.1,0,0,-2.0,72
371,Zion Williamson,NOP,20,61,29,32,33.2,27.0,10.4,17.0,...,3.7,2.7,0.9,0.6,2.2,43.2,14,0,1.5,89

In [94]:
nba_ratings_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 372 entries, 0 to 371
Data columns (total 30 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   PLAYER    372 non-null    object
 1   TEAM      372 non-null    object
 2   AGE       372 non-null    int64
 3   GP        372 non-null    int64
 4   W         372 non-null    int64
 5   L         372 non-null    int64
 6   MIN       372 non-null    float64
 7   PTS       372 non-null    float64
 8   FGM       372 non-null    float64
 9   FGA       372 non-null    float64
 10  FG%       372 non-null    float64
 11  3PM       372 non-null    float64
 12  3PA       372 non-null    float64
 13  3P%       372 non-null    float64
 14  FTM       372 non-null    float64
 15  FTA       372 non-null    float64
 16  FT%       372 non-null    float64
 17  OREB      372 non-null    float64
 18  DREB      372 non-null    float64
 19  REB       372 non-null    float64
 20  AST       372 non-null    float64
 21  TOV       372 non-null    float64
 22  STL       372 non-null    float64
 23  BLK       372 non-null    float64
 24  PF        372 non-null    float64
 25  FP        372 non-null    float64
 26  DD2       372 non-null    int64
 27  TD3       372 non-null    int64
 28  +/-       372 non-null    float64
 29  rankings  372 non-null    int64
dtypes: float64(21), int64(7), object(2)
memory usage: 90.1+ KB

In [112]:
nba_ratings_2022['rankings'] = nba_ratings_2022['rankings'].astype(float)

In [113]:
nba_ratings_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 372 entries, 0 to 371
Data columns (total 30 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   PLAYER    372 non-null    object
 1   TEAM      372 non-null    object
 2   AGE       372 non-null    int64
 3   GP        372 non-null    int64
 4   W         372 non-null    int64
 5   L         372 non-null    int64
 6   MIN       372 non-null    float64
 7   PTS       372 non-null    float64
 8   FGM       372 non-null    float64
 9   FGA       372 non-null    float64
 10  FG%       372 non-null    float64
 11  3PM       372 non-null    float64
 12  3PA       372 non-null    float64
 13  3P%       372 non-null    float64
 14  FTM       372 non-null    float64
 15  FTA       372 non-null    float64
 16  FT%       372 non-null    float64
 17  OREB      372 non-null    float64
 18  DREB      372 non-null    float64
 19  REB       372 non-null    float64
 20  AST       372 non-null    float64
 21  TOV       372 non-null    float64
 22  STL       372 non-null    float64
 23  BLK       372 non-null    float64
 24  PF        372 non-null    float64
 25  FP        372 non-null    float64
 26  DD2       372 non-null    int64
 27  TD3       372 non-null    int64
 28  +/-       372 non-null    float64
 29  rankings  372 non-null    float64
dtypes: float64(22), int64(6), object(2)
memory usage: 90.1+ KB

In [34]:
# read in 2014-2020 dataset
nba_ratings_2014_2020 = pd.read_csv('nba_rankings_2014-2020.csv')

In [35]:
nba_ratings_2014_2020.head(20)

,Unnamed: 0,PLAYER,TEAM,AGE,SEASON,GP,W,L,MIN,PTS,...,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,rankings
0,0,Aaron Gordon,ORL,24,2019-20,62,30,32,32.5,14.4,...,3.7,1.6,0.8,0.6,2.0,31.9,20.0,1.0,-1.1,80.0
1,1,Aaron Holiday,IND,23,2019-20,66,42,24,24.5,9.5,...,3.4,1.3,0.8,0.2,1.8,19.3,3.0,0.0,1.7,76.0
2,2,Abdel Nader,OKC,26,2019-20,55,37,18,15.8,6.3,...,0.7,0.8,0.4,0.4,1.4,11.1,0.0,0.0,-1.5,71.0
3,3,Adam Mokoka,CHI,21,2019-20,11,3,8,10.2,2.9,...,0.4,0.2,0.4,0.0,1.5,5.5,0.0,0.0,4.5,68.0
4,4,Admiral Schofield,WAS,23,2019-20,33,9,24,11.2,3.0,...,0.5,0.2,0.2,0.1,1.5,6.3,0.0,0.0,-1.7,71.0
5,5,Al Horford,PHI,34,2019-20,67,39,28,30.2,11.9,...,4.0,1.2,0.8,0.9,2.1,30.0,6.0,0.0,1.9,80.0
6,6,Al-Farouq Aminu,ORL,29,2019-20,18,7,11,21.1,4.3,...,1.2,0.9,1.0,0.4,1.5,15.3,1.0,0.0,-1.9,75.0
7,7,Alec Burks,PHI,28,2019-20,66,21,45,26.6,15.0,...,2.9,1.4,0.9,0.3,1.9,26.7,1.0,0.0,-3.4,77.0
8,8,Alen Smailagic,GSW,19,2019-20,14,1,13,9.9,4.2,...,0.9,0.8,0.2,0.3,1.0,8.6,0.0,0.0,-0.6,71.0
9,9,Alex Caruso,LAL,26,2019-20,64,48,16,18.4,5.5,...,1.9,0.8,1.1,0.3,1.5,14.0,0.0,0.0,3.8,74.0
10,10,Alex Len,SAC,27,2019-20,55,18,37,17.6,8.0,...,0.9,1.0,0.4,0.9,2.3,19.2,8.0,0.0,-2.0,76.0
11,11,Alfonzo McKinnie,CLE,27,2019-20,40,11,29,14.8,4.6,...,0.4,0.7,0.6,0.2,1.8,10.1,1.0,0.0,-2.3,70.0
12,12,Alize Johnson,IND,24,2019-20,17,10,7,6.9,2.0,...,0.4,0.4,0.2,0.1,0.7,6.5,1.0,0.0,1.5,70.0
13,13,Allen Crabbe,MIN,28,2019-20,37,5,32,17.6,4.6,...,0.9,0.5,0.4,0.1,1.3,9.6,0.0,0.0,-6.0,72.0
14,14,Allonzo Trier,NYK,24,2019-20,24,2,22,12.1,6.5,...,1.2,0.9,0.1,0.2,1.2,9.6,0.0,0.0,-3.0,75.0
15,15,Amile Jefferson,ORL,27,2019-20,18,5,13,4.1,0.8,...,0.2,0.2,0.1,0.2,0.4,3.2,0.0,0.0,1.0,69.0
16,16,Amir Coffey,LAC,23,2019-20,18,11,7,8.8,3.2,...,0.8,0.4,0.3,0.1,1.1,6.2,0.0,0.0,-0.3,68.0
17,17,Andre Drummond,CLE,26,2019-20,57,21,36,33.0,17.7,...,2.7,3.6,1.9,1.6,3.5,47.0,47.0,0.0,-3.4,85.0
18,18,Andre Iguodala,MIA,36,2019-20,21,10,11,19.9,4.6,...,2.4,1.2,0.7,1.0,1.7,16.4,0.0,0.0,-1.2,76.0
19,19,Andre Roberson,OKC,28,2019-20,7,3,4,12.4,2.9,...,0.6,0.3,0.1,0.4,1.9,9.8,0.0,0.0,-0.4,72.0

In [96]:
nba_ratings_2014_2020['rankings'] = nba_ratings_2014_2020['rankings'].astype(int)

In [97]:
nba_ratings_2014_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2412 entries, 0 to 2411
Data columns (total 32 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2412 non-null   int64
 1   PLAYER      2412 non-null   object
 2   TEAM        2412 non-null   object
 3   AGE         2412 non-null   int64
 4   SEASON      2412 non-null   object
 5   GP          2412 non-null   int64
 6   W           2412 non-null   int64
 7   L           2412 non-null   int64
 8   MIN         2412 non-null   float64
 9   PTS         2412 non-null   float64
 10  FGM         2412 non-null   float64
 11  FGA         2412 non-null   float64
 12  FG%         2412 non-null   float64
 13  3PM         2412 non-null   float64
 14  3PA         2412 non-null   float64
 15  3P%         2412 non-null   float64
 16  FTM         2412 non-null   float64
 17  FTA         2412 non-null   float64
 18  FT%         2412 non-null   float64
 19  OREB        2412 non-null   float64
 20  DREB        2412 non-null   float64
 21  REB         2412 non-null   float64
 22  AST         2412 non-null   float64
 23  TOV         2412 non-null   float64
 24  STL         2412 non-null   float64
 25  BLK         2412 non-null   float64
 26  PF          2412 non-null   float64
 27  FP          2412 non-null   float64
 28  DD2         2412 non-null   float64
 29  TD3         2412 non-null   float64
 30  +/-         2412 non-null   float64
 31  rankings    2412 non-null   int64
dtypes: float64(23), int64(6), object(3)
memory usage: 603.1+ KB

In [99]:
# drop excess columns
cols_to_drop = ['Unnamed: 0', 'SEASON']

In [100]:
nba_ratings_2014_2020.drop(cols_to_drop, axis=1, inplace=True)

In [111]:
nba_ratings_2014_2020

,PLAYER,TEAM,AGE,GP,W,L,MIN,PTS,FGM,FGA,...,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,rankings
0,Aaron Gordon,ORL,24,62,30,32,32.5,14.4,5.4,12.4,...,3.7,1.6,0.8,0.6,2.0,31.9,20.0,1.0,-1.1,80
1,Aaron Holiday,IND,23,66,42,24,24.5,9.5,3.5,8.5,...,3.4,1.3,0.8,0.2,1.8,19.3,3.0,0.0,1.7,76
2,Abdel Nader,OKC,26,55,37,18,15.8,6.3,2.2,4.8,...,0.7,0.8,0.4,0.4,1.4,11.1,0.0,0.0,-1.5,71
3,Adam Mokoka,CHI,21,11,3,8,10.2,2.9,1.1,2.5,...,0.4,0.2,0.4,0.0,1.5,5.5,0.0,0.0,4.5,68
4,Admiral Schofield,WAS,23,33,9,24,11.2,3.0,1.1,2.8,...,0.5,0.2,0.2,0.1,1.5,6.3,0.0,0.0,-1.7,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2407,Will Barton,DEN,24,58,30,28,17.0,6.8,2.6,6.1,...,1.4,1.1,0.8,0.3,1.2,14.7,2.0,0.0,-0.5,73
2408,Wilson Chandler,DEN,28,78,28,50,31.7,13.9,5.4,12.5,...,1.7,1.4,0.7,0.4,3.0,25.7,8.0,0.0,-2.8,77
2409,Zach LaVine,MIN,20,77,15,62,24.7,10.1,3.7,8.8,...,3.6,2.5,0.7,0.1,2.1,18.8,4.0,0.0,-7.0,73
2410,Zach Randolph,MEM,33,71,51,20,32.4,16.1,6.4,13.1,...,2.2,2.2,1.0,0.2,2.5,33.3,38.0,0.0,4.9,84
2411,Zaza Pachulia,MIL,31,73,34,39,23.7,8.3,3.3,7.2,...,2.4,1.8,1.1,0.3,2.3,22.5,15.0,0.0,3.6,73

## Concat dataframes into final

In [114]:
# check columns
nba_ratings_2014_2020.columns == nba_ratings_2022.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [126]:
final = pd.concat([nba_ratings_2014_2020, nba_ratings_2022], axis=0)

In [127]:
final.shape

(2784, 30)

In [128]:
final

,PLAYER,TEAM,AGE,GP,W,L,MIN,PTS,FGM,FGA,...,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,rankings
0,Aaron Gordon,ORL,24,62,30,32,32.5,14.4,5.4,12.4,...,3.7,1.6,0.8,0.6,2.0,31.9,20.0,1.0,-1.1,80.0
1,Aaron Holiday,IND,23,66,42,24,24.5,9.5,3.5,8.5,...,3.4,1.3,0.8,0.2,1.8,19.3,3.0,0.0,1.7,76.0
2,Abdel Nader,OKC,26,55,37,18,15.8,6.3,2.2,4.8,...,0.7,0.8,0.4,0.4,1.4,11.1,0.0,0.0,-1.5,71.0
3,Adam Mokoka,CHI,21,11,3,8,10.2,2.9,1.1,2.5,...,0.4,0.2,0.4,0.0,1.5,5.5,0.0,0.0,4.5,68.0
4,Admiral Schofield,WAS,23,33,9,24,11.2,3.0,1.1,2.8,...,0.5,0.2,0.2,0.1,1.5,6.3,0.0,0.0,-1.7,71.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,Xavier Tillman,MEM,22,59,31,28,18.4,6.6,2.8,5.1,...,1.3,0.8,0.7,0.6,2.0,16.9,2.0,0.0,0.6,76.0
368,Yuta Watanabe,TOR,26,50,24,26,14.5,4.4,1.6,3.6,...,0.8,0.4,0.5,0.4,1.1,11.7,0.0,0.0,-0.8,74.0
369,Zach LaVine,CHI,26,58,26,32,35.1,27.4,9.8,19.4,...,4.9,3.5,0.8,0.5,2.4,41.0,3.0,0.0,-0.2,87.0
370,Zeke Nnaji,DEN,20,42,30,12,9.5,3.2,1.2,2.5,...,0.2,0.2,0.2,0.1,0.7,6.1,0.0,0.0,-2.0,72.0
371,Zion Williamson,NOP,20,61,29,32,33.2,27.0,10.4,17.0,...,3.7,2.7,0.9,0.6,2.2,43.2,14.0,0.0,1.5,89.0

In [129]:
#reset index
final.reset_index(drop=True, inplace=True)

In [130]:
final

,PLAYER,TEAM,AGE,GP,W,L,MIN,PTS,FGM,FGA,...,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,rankings
0,Aaron Gordon,ORL,24,62,30,32,32.5,14.4,5.4,12.4,...,3.7,1.6,0.8,0.6,2.0,31.9,20.0,1.0,-1.1,80.0
1,Aaron Holiday,IND,23,66,42,24,24.5,9.5,3.5,8.5,...,3.4,1.3,0.8,0.2,1.8,19.3,3.0,0.0,1.7,76.0
2,Abdel Nader,OKC,26,55,37,18,15.8,6.3,2.2,4.8,...,0.7,0.8,0.4,0.4,1.4,11.1,0.0,0.0,-1.5,71.0
3,Adam Mokoka,CHI,21,11,3,8,10.2,2.9,1.1,2.5,...,0.4,0.2,0.4,0.0,1.5,5.5,0.0,0.0,4.5,68.0
4,Admiral Schofield,WAS,23,33,9,24,11.2,3.0,1.1,2.8,...,0.5,0.2,0.2,0.1,1.5,6.3,0.0,0.0,-1.7,71.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2779,Xavier Tillman,MEM,22,59,31,28,18.4,6.6,2.8,5.1,...,1.3,0.8,0.7,0.6,2.0,16.9,2.0,0.0,0.6,76.0
2780,Yuta Watanabe,TOR,26,50,24,26,14.5,4.4,1.6,3.6,...,0.8,0.4,0.5,0.4,1.1,11.7,0.0,0.0,-0.8,74.0
2781,Zach LaVine,CHI,26,58,26,32,35.1,27.4,9.8,19.4,...,4.9,3.5,0.8,0.5,2.4,41.0,3.0,0.0,-0.2,87.0
2782,Zeke Nnaji,DEN,20,42,30,12,9.5,3.2,1.2,2.5,...,0.2,0.2,0.2,0.1,0.7,6.1,0.0,0.0,-2.0,72.0
2783,Zion Williamson,NOP,20,61,29,32,33.2,27.0,10.4,17.0,...,3.7,2.7,0.9,0.6,2.2,43.2,14.0,0.0,1.5,89.0

In [131]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2784 entries, 0 to 2783
Data columns (total 30 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   PLAYER    2784 non-null   object
 1   TEAM      2784 non-null   object
 2   AGE       2784 non-null   int64
 3   GP        2784 non-null   int64
 4   W         2784 non-null   int64
 5   L         2784 non-null   int64
 6   MIN       2784 non-null   float64
 7   PTS       2784 non-null   float64
 8   FGM       2784 non-null   float64
 9   FGA       2784 non-null   float64
 10  FG%       2784 non-null   float64
 11  3PM       2784 non-null   float64
 12  3PA       2784 non-null   float64
 13  3P%       2784 non-null   float64
 14  FTM       2784 non-null   float64
 15  FTA       2784 non-null   float64
 16  FT%       2784 non-null   float64
 17  OREB      2784 non-null   float64
 18  DREB      2784 non-null   float64
 19  REB       2784 non-null   float64
 20  AST       2784 non-null   float64
 21  TOV       2784 non-null   float64
 22  STL       2784 non-null   float64
 23  BLK       2784 non-null   float64
 24  PF        2784 non-null   float64
 25  FP        2784 non-null   float64
 26  DD2       2784 non-null   float64
 27  TD3       2784 non-null   float64
 28  +/-       2784 non-null   float64
 29  rankings  2784 non-null   float64
dtypes: float64(24), int64(4), object(2)
memory usage: 652.6+ KB

In [132]:
final.drop(['PLAYER', 'TEAM'], axis=1, inplace=True)

In [133]:
final.head(5)

,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,3PM,...,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,rankings
0,24,62,30,32,32.5,14.4,5.4,12.4,43.7,1.2,...,3.7,1.6,0.8,0.6,2.0,31.9,20.0,1.0,-1.1,80.0
1,23,66,42,24,24.5,9.5,3.5,8.5,41.4,1.3,...,3.4,1.3,0.8,0.2,1.8,19.3,3.0,0.0,1.7,76.0
2,26,55,37,18,15.8,6.3,2.2,4.8,46.8,0.9,...,0.7,0.8,0.4,0.4,1.4,11.1,0.0,0.0,-1.5,71.0
3,21,11,3,8,10.2,2.9,1.1,2.5,42.9,0.5,...,0.4,0.2,0.4,0.0,1.5,5.5,0.0,0.0,4.5,68.0
4,23,33,9,24,11.2,3.0,1.1,2.8,38.0,0.6,...,0.5,0.2,0.2,0.1,1.5,6.3,0.0,0.0,-1.7,71.0

In [134]:
# save final dataframe to csv file
final.to_csv('../dataset.csv')